.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 100px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 13px;
  box-sizing: border-box;
  margin: 0;
  padding: 12px;
}

.image {
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image_title {
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.image_subtitle {
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  box-sizing: border-box;
  margin: 0;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 18px;
  }
}
